.search-bg {
  background-image: url(../../../../assets/search/search-bg.jpg);
  height: 300px;
  background-position: bottom center;
  background-size: cover;
}

@media (max-width: 1200px) {
  .search {
    width: 80% !important;
  }
}

@media (max-width: 768px) {
  .search {
    width: 90% !important;
  }
}
