<input #searchInput [form-validation]="validationOptions" type="text" class="form-control" (keydown)="search()"
  [placeholder]="placeholder" (change)="checkSearchTerm()" [(ngModel)]="searchTerm" />
<div class="list-group" [style.width.px]="width" *ngIf="searchResultView != null && focus">
  <div *ngIf="searchResultView.length == 0" class="list-group-item list-group-item-action pointer">
    <small class="text-muted">No result</small>
  </div>
  <div class="list-group-item list-group-item-action pointer" *ngFor="let resultView of searchResultView"
    (click)="selectResult(resultView)">
    <div class="d-flex w-100">
      <p class="mb-0">{{resultView.title}}</p>
    </div>
    <small *ngIf="showSub" class="text-muted">{{resultView.sub}}</small>
  </div>
</div>