<div fxlayoutalign="center center" class="h-100 sreen-center" [hidden]="showDetails">
  <form class="organization">
    <h3 class="mb-3">Tell us more about your organization</h3>
    <div class="form-group mb-3">
      <app-search [show-sub]="true" (searchFn)="search($event)" (setSource)="setOrganization($event)"
        (clearSource)="clearOrganization()" [placeholder]="'Search for your organization'" [required]="true">
      </app-search>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button type="button" class="btn btn-sm btn-primary" routerLink="..">
        Back
      </button>
      <button type="submit" class="btn btn-sm btn-primary" (click)="submit()">
        Submit
      </button>
    </div>
  </form>
</div>

<div class="h-100" [hidden]="!showDetails">
  <router-outlet></router-outlet>
</div>