<div fxlayoutalign="center center" class="h-100 sreen-center" [hidden]="showDetails">
  <form class="organization">
    <h3 class="mb-3">Tell us more about your organization</h3>
    <div class="form-group mb-3">
      <input #searchInput form-validation="required" type="text" class="form-control" (keydown)="search()"
        placeholder="Search for your organization" [(ngModel)]="searchTerm" />
      <app-search-result [input-element]="searchInput" [search-result]="searchResult"
        (setSource)="setOrganization($event)"></app-search-result>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button type="button" class="btn btn-primary" routerLink="..">
        Back
      </button>
      <button type="submit" class="btn btn-primary" (click)="submit()">
        Submit
      </button>
    </div>
  </form>
</div>

<div class="h-100" [hidden]="!showDetails">
  <router-outlet></router-outlet>
</div>