<div class="w-100 mt-3">
    <div *ngIf="items && items.length == 0" class="alert alert-dark text-center" role="alert">
        <p class="m-0">No result.<span class="ms-3 pointer badge bg-primary pb-1" (click)="createOrUpdate()">Post</span>
        </p>
    </div>

    <div *ngIf="!items" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <table *ngIf="items && items.length > 0">
        <tr class="border border-2">
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Start Date</th>
            <th span="6">Address</th>
        </tr>
        <tr *ngFor="let item of items" (click)="createOrUpdate(item)">
            <td>{{item.title}}</td>
            <td>{{item.categoryName}}</td>
            <td>{{item.description}}</td>
            <td>{{item.startDate}}</td>
            <td>{{item.location.number}}</td>
            <td>{{item.location.street}}</td>
            <td>{{item.location.suburb}}</td>
            <td>{{item.location.city}}</td>
            <td>{{item.location.region}}</td>
            <td>{{item.location.postCode}}</td>
        </tr>
    </table>
</div>